* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: border-box;
}

*:focus {
	outline-color: #f6821f;
}

html {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #003682;
	background-color: #f8fbfb;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Inter,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	overflow-x: hidden;
	line-height: 1.4;
	height: 100vh;
	width: 100vw;
}

main {
	padding: 2rem;
	max-width: 600px;
	width: 100%;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	margin-bottom: 1rem;
}

.news-item {
	display: flex;
	align-items: start;
	margin-bottom: 1rem;
}

.news-time {
	flex: 0 0 80px; /* 時間の幅 */
	font-size: 0.9rem;
	font-weight: bold;
}

.news-content {
	flex: 1;
}

.news-title {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.news-desc {
	font-size: 0.9rem;
}

.news-link {
	display: inline-block;
	margin-top: 0.5rem;
	color: #f6821f;
	text-decoration: none;
	transition: color 0.3s ease;
}

.news-link:hover {
	color: #d86300;
}

/* フッター */
.site-footer {
	width: 100%;
	padding: 1rem;
	text-align: center;
	background-color: #003682;
	color: #ffffff;
	font-size: 0.9rem;
	border-top: 1px solid #f8fbfb;
	position: absolute; /* 画面の一番下に配置する場合 */
	bottom: 0;
}

/* モバイル向けのメディアクエリ */
@media (max-width: 768px) {
	main {
		padding: 1rem;
	}

	.site-footer {
		font-size: 0.8rem;
		padding: 0.5rem;
	}
}
